menu "Example Configuration"
    
    config SNTP_SERVER_NAME
        string "Hostname of NTP server"
        default "127.0.0.2"
        help
            Set the hostname or IP address of the NTP server. You can use pool.ntp.org if you do not have a local server.

endmenu
